@model PagedResult<RequestMonitoringLogItem>

@{
    ViewData["Title"] = "Vytížení aplikace";
    string selectedDate = Context.Request.Query["selectedDate"].FirstOrDefault() ?? DateTime.Now.ToString("yyyy-MM-dd");
}

<div class="text-center mb-5">
    <h1 class="display-6">Vytížení aplikace (Endpointy)</h1>
</div>

@await Component.InvokeAsync("GridFilters", new GridFiltersComponentModel
{
    ModelType = Model.FilterModelType!,
    Filters = Model.GridRequest.Filters,
    Action = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty,
    Controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty,
    PageSize = Model.GridRequest.PageSize,
    FiltersCollapsed = Model.GridRequest.FiltersCollapsed,
    SortOrder = Model.GridRequest.SortOrder,
    CustomFilters = Model.CustomFilters
})

<div class="d-flex justify-content-between align-items-end mb-4 flex-wrap gap-3">
    <div style="min-width: 220px; max-width: 280px; width: 100%;">
        <label for="logDate" class="form-label">Vyberte datum logu:</label>
        <input type="date"
               class="form-control"
               id="logDate"
               name="date"
               value="@selectedDate" />
    </div>

    <div class="ms-md-auto">
        <a asp-action="Index"
           asp-controller="RequestMonitoring"
           asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "")"
           asp-route-selectedDate="@selectedDate"
           asp-route-export="true"
           class="btn btn-success">
            Export CSV
        </a>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.Items[0].Timestamp)</th>
                <th>
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_Path")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    @Html.DisplayNameFor(x => x.Items[0].Path)
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_Path")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_HttpMethod")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    @Html.DisplayNameFor(x => x.Items[0].HttpMethod)
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_HttpMethod")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_Controller")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    @Html.DisplayNameFor(x => x.Items[0].Controller)
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_Controller")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_Action")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    @Html.DisplayNameFor(x => x.Items[0].Action)
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_Action")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_DurationMs")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    @Html.DisplayNameFor(x => x.Items[0].DurationMs)
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_DurationMs")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_CpuTimeUsedMs")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    @Html.DisplayNameFor(x => x.Items[0].CpuTimeUsedMs)
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_CpuTimeUsedMs")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_MemoryUsageMb")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    @Html.DisplayNameFor(x => x.Items[0].MemoryUsageMb)
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_MemoryUsageMb")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_FinalStatusCode")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    @Html.DisplayNameFor(x => x.Items[0].FinalStatusCode)
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_FinalStatusCode")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_HandledStatusCode")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    @Html.DisplayNameFor(x => x.Items[0].HandledStatusCode)
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_HandledStatusCode")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_HandledExceptionType")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    @Html.DisplayNameFor(x => x.Items[0].HandledExceptionType)
                    <a asp-action="Index"
                       asp-controller="RequestMonitoring"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_HandledExceptionType")"
                       asp-route-selectedDate="@selectedDate"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Count == 0)
            {
                <tr>
                    <td colspan="11" class="text-center">Záznamy nenalezeny</td>
                </tr>
            }
            else
            {
                @foreach (var log in Model.Items)
                {
                    bool isDangerRow = log.CpuTimeUsedMs > 2000 || log.MemoryUsageMb > 2048 || log.DurationMs > 2000;

                    <tr class="@(isDangerRow ? "table-danger" : "")">
                        <td>@log.Timestamp.ToString("dd.MM.yyyy HH:mm:ss")</td>
                        <td>@log.Path</td>
                        <td>@log.HttpMethod</td>
                        <td>@log.Controller</td>
                        <td>@log.Action</td>
                        <td>@log.DurationMs</td>
                        <td>@log.CpuTimeUsedMs</td>
                        <td>@log.MemoryUsageMb</td>
                        <td>@log.FinalStatusCode</td>
                        <td>@log.HandledStatusCode</td>
                        <td>@log.HandledExceptionType</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@await Component.InvokeAsync("Pager", new PagerPartialViewModel
{
    Pager = Model.Pager,
    Action = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty,
    Controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty,
    PageSize = Model.GridRequest.PageSize,
    Filters = Model.GridRequest.Filters,
    SortOrder = Model.GridRequest.SortOrder,
    FiltersCollapsed = Model.GridRequest.FiltersCollapsed
})

<div class="d-flex justify-content-start mt-3">
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">
        Domů
    </a>
</div>