@model PagedResultNew<IncomeCategoryViewModel>

@{
    ViewData["Title"] = "Kategorie příjmů";
}

<div class="text-center mb-5">
    <h1 class="display-6">Kategorie příjmů</h1>
</div>

@await Component.InvokeAsync("GridFilters", new GridFiltersComponentModel
{
    ModelType = Model.FilterModelType!,
    Filters = Model.GridRequest.Filters,
    Action = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty,
    Controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty,
    PageSize = Model.GridRequest.PageSize,
    SortOrder = Model.GridRequest.SortOrder,
    FiltersCollapsed = Model.GridRequest.FiltersCollapsed
})

<div class="d-flex justify-content-end my-3">
    <a asp-controller="IncomeCategory" asp-action="Create" class="btn btn-primary">
        Přidat kategorii příjmů
    </a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index"
                       asp-controller="IncomeCategory"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_Id")"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    ID
                    <a asp-action="Index"
                       asp-controller="IncomeCategory"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_Id")"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="IncomeCategory"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_Name")"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    Název
                    <a asp-action="Index"
                       asp-controller="IncomeCategory"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_Name")"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>
                    <a asp-action="Index"
                       asp-controller="IncomeCategory"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "asc_IsActive")"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                    Aktivní
                    <a asp-action="Index"
                       asp-controller="IncomeCategory"
                       asp-all-route-data="@GridRequestBuilder.GetRouteValues(Model.GridRequest, "desc_IsActive")"
                       class="text-decoration-none">
                        <i class="bi bi-arrow-down-short"></i>
                    </a>
                </th>
                <th>Akce</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Items.Count == 0)
            {
                <tr>
                    <td colspan="4" class="text-center">Záznamy nenalezeny.</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <form method="post" asp-controller="IncomeCategory" asp-action="ChangeStatus" asp-route-id="@item.Id">
                                @Html.AntiForgeryToken()

                                <div class="form-check form-switch m-0">
                                    <input class="form-check-input" type="checkbox" @(item.IsActive ? "checked" : null) onchange="this.form.submit()" />
                                </div>
                            </form>
                        </td>
                        <td>
                            <a asp-controller="IncomeCategory" asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-warning">
                                Upravit
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@await Component.InvokeAsync("Pager", new PagerPartialViewModel
{
    Pager = Model.Pager,
    Action = ViewContext.RouteData.Values["action"]?.ToString() ?? string.Empty,
    Controller = ViewContext.RouteData.Values["controller"]?.ToString() ?? string.Empty,
    SortOrder = Model.GridRequest.SortOrder,
    PageSize = Model.GridRequest.PageSize,
    Filters = Model.GridRequest.Filters,
    FiltersCollapsed = Model.GridRequest.FiltersCollapsed
})

<div class="d-flex justify-content-start mt-3">
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="Index">
        Domů
    </a>
</div>

